/* CSS declarations go here */

body {
}

.socialOuterContainer {
	width: 1820px;
	height: 980px;
	padding: 50px;
	background: url("logo.png") no-repeat scroll 40px 5px transparent;
}

.socialUser {
	float: left;
	background: url('turn_orange_concentrics_btm.png') no-repeat -80px -120px;
	background-color: rgb(248,252,252);
	width: 600px;
	height: 910px;
	margin-right: 20px;

	border: 1px solid rgb(176,216,234);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	overflow-x: hidden;
	overflow-y: auto;
}

.commonInterest {
	float: left;
	width: 353px;
	height: 910px;
	background: url('turn_lightbulb.png') no-repeat bottom center;
	background-color: rgb(252,243,204);

	border: 1px solid rgb(176,216,234);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	overflow-x: hidden;
	overflow-y: auto;
}

.socialUser .greeting {
	text-align: center;
	margin: 50px auto;
	font-size: 50px;
}

.socialUser .msg, .commonInterest .msg {
	font-size: 29px;
	margin: 30px 10px;
}

.interest {
	width: 343px;
	height: 109px;
	line-height: 109px;
	background: url('tag_orange.png') no-repeat 0 0;
	margin: 10px;
}

.interest.common {
	background-image: url('turn_blue_tag.png');
}

.interest span {
	margin-left: 42px;
	text-transform: uppercase;
	font-size: 20px;
	color: #ffffff;
}